In [26]:
from Pfeature.pfeature import aac_wp
from sklearn.model_selection import train_test_split
import pandas as pd
import os

aac_wp('train_set/po_cd_hit.txt', 'po_aac.csv')
po_df = pd.read_csv('po_aac.csv')
po_df

,AAC_A,AAC_C,AAC_D,AAC_E,AAC_F,AAC_G,AAC_H,AAC_I,AAC_K,AAC_L,AAC_M,AAC_N,AAC_P,AAC_Q,AAC_R,AAC_S,AAC_T,AAC_V,AAC_W,AAC_Y
0,27.27,0.00,9.09,0.00,9.09,9.09,0.00,0.00,0.00,0.00,0.00,9.09,9.09,0.00,0.00,0.00,0.00,18.18,0.00,9.09
1,0.00,54.55,0.00,9.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,18.18,18.18,0.00,0.00,0.00
2,0.00,0.00,9.09,18.18,9.09,9.09,9.09,0.00,0.00,9.09,9.09,0.00,18.18,0.00,0.00,0.00,0.00,9.09,0.00,0.00
3,0.00,0.00,0.00,18.18,9.09,9.09,9.09,0.00,0.00,9.09,9.09,9.09,18.18,0.00,0.00,0.00,0.00,9.09,0.00,0.00
4,0.00,0.00,9.09,18.18,18.18,9.09,0.00,0.00,0.00,9.09,9.09,9.09,18.18,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,10.00,0.00,3.33,3.33,6.67,20.00,0.00,3.33,13.33,13.33,3.33,0.00,0.00,3.33,0.00,6.67,3.33,10.00,0.00,0.00
1333,6.67,3.33,0.00,0.00,3.33,20.00,6.67,3.33,3.33,6.67,0.00,6.67,0.00,3.33,6.67,10.00,3.33,13.33,3.33,0.00
1334,13.33,0.00,0.00,3.33,0.00,3.33,13.33,0.00,0.00,10.00,0.00,0.00,16.67,6.67,16.67,6.67,3.33,0.00,0.00,6.67
1335,6.67,0.00,6.67,6.67,0.00,6.67,3.33,6.67,6.67,26.67,0.00,3.33,0.00,10.00,10.00,3.33,3.33,0.00,0.00,0.00
1336,0.00,20.00,0.00,3.33,3.33,23.33,0.00,0.00,6.67,0.00,3.33,0.00,6.67,3.33,10.00,6.67,0.00,6.67,0.00,6.67

In [27]:
aac_wp('train_set/ne_cd_hit.txt', 'ne_aac.csv')
ne_df = pd.read_csv('ne_aac.csv')
ne_df

,AAC_A,AAC_C,AAC_D,AAC_E,AAC_F,AAC_G,AAC_H,AAC_I,AAC_K,AAC_L,AAC_M,AAC_N,AAC_P,AAC_Q,AAC_R,AAC_S,AAC_T,AAC_V,AAC_W,AAC_Y
0,0.00,0.0,0.00,0.00,0.00,27.27,0.00,0.00,0.00,9.09,0.00,9.09,0.00,0.00,18.18,18.18,0.00,9.09,0.0,9.09
1,0.00,0.0,0.00,0.00,9.09,27.27,0.00,9.09,0.00,9.09,0.00,0.00,9.09,0.00,9.09,9.09,18.18,0.00,0.0,0.00
2,9.09,0.0,9.09,9.09,9.09,9.09,0.00,9.09,0.00,0.00,0.00,0.00,27.27,0.00,9.09,9.09,0.00,0.00,0.0,0.00
3,9.09,0.0,0.00,0.00,9.09,18.18,0.00,9.09,0.00,18.18,0.00,0.00,18.18,0.00,9.09,9.09,0.00,0.00,0.0,0.00
4,9.09,0.0,9.09,0.00,18.18,0.00,0.00,0.00,9.09,0.00,9.09,18.18,0.00,0.00,9.09,9.09,9.09,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,13.33,0.0,3.33,3.33,0.00,13.33,0.00,3.33,26.67,10.00,3.33,3.33,3.33,3.33,0.00,0.00,3.33,0.00,10.0,0.00
1418,6.67,0.0,0.00,3.33,6.67,20.00,3.33,3.33,13.33,13.33,3.33,0.00,3.33,10.00,0.00,6.67,3.33,3.33,0.0,0.00
1419,6.67,20.0,0.00,3.33,0.00,10.00,0.00,6.67,10.00,3.33,0.00,3.33,6.67,0.00,0.00,6.67,6.67,10.00,0.0,6.67
1420,6.67,0.0,3.33,3.33,6.67,0.00,3.33,3.33,3.33,6.67,3.33,16.67,3.33,6.67,10.00,6.67,0.00,13.33,0.0,3.33
1421,0.00,20.0,6.67,6.67,0.00,6.67,6.67,6.67,6.67,10.00,10.00,0.00,6.67,0.00,3.33,3.33,0.00,3.33,0.0,3.33

In [28]:
os.remove('po_aac.csv')
os.remove('ne_aac.csv')

In [32]:
y = [1 for i in range(po_df.index.stop)] + [0 for i in range(ne_df.index.stop)]

1422

In [34]:
X = pd.concat([po_df, ne_df], axis=0)
X

,AAC_A,AAC_C,AAC_D,AAC_E,AAC_F,AAC_G,AAC_H,AAC_I,AAC_K,AAC_L,AAC_M,AAC_N,AAC_P,AAC_Q,AAC_R,AAC_S,AAC_T,AAC_V,AAC_W,AAC_Y
0,27.27,0.00,9.09,0.00,9.09,9.09,0.00,0.00,0.00,0.00,0.00,9.09,9.09,0.00,0.00,0.00,0.00,18.18,0.0,9.09
1,0.00,54.55,0.00,9.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,18.18,18.18,0.00,0.0,0.00
2,0.00,0.00,9.09,18.18,9.09,9.09,9.09,0.00,0.00,9.09,9.09,0.00,18.18,0.00,0.00,0.00,0.00,9.09,0.0,0.00
3,0.00,0.00,0.00,18.18,9.09,9.09,9.09,0.00,0.00,9.09,9.09,9.09,18.18,0.00,0.00,0.00,0.00,9.09,0.0,0.00
4,0.00,0.00,9.09,18.18,18.18,9.09,0.00,0.00,0.00,9.09,9.09,9.09,18.18,0.00,0.00,0.00,0.00,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,13.33,0.00,3.33,3.33,0.00,13.33,0.00,3.33,26.67,10.00,3.33,3.33,3.33,3.33,0.00,0.00,3.33,0.00,10.0,0.00
1418,6.67,0.00,0.00,3.33,6.67,20.00,3.33,3.33,13.33,13.33,3.33,0.00,3.33,10.00,0.00,6.67,3.33,3.33,0.0,0.00
1419,6.67,20.00,0.00,3.33,0.00,10.00,0.00,6.67,10.00,3.33,0.00,3.33,6.67,0.00,0.00,6.67,6.67,10.00,0.0,6.67
1420,6.67,0.00,3.33,3.33,6.67,0.00,3.33,3.33,3.33,6.67,3.33,16.67,3.33,6.67,10.00,6.67,0.00,13.33,0.0,3.33
1421,0.00,20.00,6.67,6.67,0.00,6.67,6.67,6.67,6.67,10.00,10.00,0.00,6.67,0.00,3.33,3.33,0.00,3.33,0.0,3.33

In [ ]:
# since positive and negative datasets are not balanced, stratify will do that
X_train, X_test, y_train, y_test = training_split_data(X, y, test_size=0.2, stratify=y)